{% extends "portal/base_generic_gov.html" %}

{% block content %}

<a href="{{url('portal-homepage')}}#member-tab" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">View and manage details for {{user.full_name}}</h1>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Role
    </dt>
    <dd class="govuk-summary-list__value">
      {% if user.is_team_member %}Team member{% else %}Team leader{% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{url('edit-user', supplier_id, user.id)}}">
        Edit<span class="govuk-visually-hidden"> user details</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {{user.full_name}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{url('edit-user', supplier_id, user.id)}}">
        Edit<span class="govuk-visually-hidden"> user details</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      {{user.email}}
    </dd>
  </div>
   <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Date added
    </dt>
    <dd class="govuk-summary-list__value">
      {{user.date_joined.strftime('%d/%m/%Y')}}
    </dd>
  </div>
   <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      {% if not user.is_active %}
        <strong class="govuk-tag govuk-tag--red">
          Disabled
        </strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--green">
          Enabled
        </strong>
        {% endif %}
    </dd>
  </div>
</dl>
<br>
<a href="{{url('change-user-status', supplier_id, user.id)}}" class="govuk-button govuk-button--secondary">{{user.is_active and "Disable" or "Enable"}}</a>
{% endblock %}
