{% extends "portal/base_generic_gov.html" %}

{% block content %}

  <form method="POST" novalidate>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          EPC Upload
        </h1>
      </legend>
      {{csrf_input}}
      <p class="govuk-body">{{epc_count}} uploaded so far</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="secret-key">
          Secret Key
        </label>
        <input required class="govuk-input govuk-!-width-one-half" id="secret-key" name="secret-key" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="url">
          URL
        </label>
        <input required class="govuk-input govuk-!-width-one-half" id="url" name="url" type="text">
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
      </div>
    </fieldset>
  </form>

{% endblock %}
