{% extends "portal/base_generic_gov.html" %}

{% block content %}

<form method="POST">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Add a new energy supplier
      </h1>
    </legend>
    {{csrf_input}}
    <div class="govuk-form-group">
      <label class="govuk-label" for="supplier_name">
        Name of energy supplier
      </label>
      <input required class="govuk-input govuk-!-width-one-half" id="supplier_name" name="supplier_name" type="text">
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">Add energy supplier</button>
      <a class="govuk-link" href="{{url('portal:portal-homepage')}}">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock %}