{% extends "portal/base_generic_gov.html" %}

{% block content %}

<h1 class="govuk-heading-l">{{supplier.name}}</h1>
<h2 class="govuk-heading-m">{{supplier.is_disabled and "Enable energy supplier" or "Disable energy supplier"}}</h2>
<form method="POST">
  <fieldset class="govuk-fieldset">
    {% if supplier.is_disabled %}
    <p>Are you sure you wish to enable this energy supplier? This will also enable all accounts associated with this energy supplier.</p>
    {% else %}
    <p>Are you sure you wish to disable this energy supplier? This will stop any actions related to users of this energy supplier.</p>
    {% endif %}
    {{csrf_input}}
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">Confirm</button>
      <a class="govuk-link" href="{{url('supplier-team-leads', supplier.id)}}">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock %}