{% extends "portal/base_generic_gov.html" %}

{% block content %}

<form method="POST" novalidate>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Edit energy supplier name
      </h1>
    </legend>
    <p>Edit an energy supplier on the platform.</p>
    {{csrf_input}}
    <div class="govuk-form-group">
      <label class="govuk-label" for="supplier_name">
        Name
      </label>
      <input value="{{supplier}}" required class="govuk-input govuk-!-width-one-half" id="supplier_name" name="supplier_name" type="text">
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">Save changes</button>
      <a class="govuk-link" href="{{url('portal:homepage')}}">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock %}