{% extends "portal/base_generic_gov.html" %}

{% block content %}

<form method="POST">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Edit team lead
      </h1>
    </legend>
    <div class="govuk-button-group">
      <a href="{{url('portal:change-supplier-team-lead-status', supplier.id, user.id)}}" class="govuk-button govuk-button--secondary">{{user.is_active and "Disable" or "Enable"}}</a>
    </div>
    <p>You can amend a team lead's name. If you need to amend their email, you can remove them and add a new team lead.</p>
    {{csrf_input}}
    <div class="govuk-form-group">
      <label class="govuk-label" for="team-leader-name">
        Full name
      </label>
      <input value="{{user.full_name}}" required class="govuk-input govuk-!-width-one-half" id="team-leader-name" name="team-leader-name" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="team-leader-email">
        Email
      </label>
      <input value="{{user.email}}" disabled="true" class="govuk-input govuk-!-width-one-half" id="team-leader-email" name="team-leader-email" type="email">
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">Save changes</button>
            <a class="govuk-link" href="{{url('portal:supplier-team-leads', supplier.id)}}">Cancel</a>
          </div>
        </div>
    </div>
  </fieldset>
</form>
{% endblock %}