{% extends "portal/base_generic_gov.html" %}

{% block content %}
<a href="{{url('homepage')}}" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Manage [{{supplier.name}}]'s team leads and details</h1>
<div class="govuk-button-group">
  <a href="{{url('edit-supplier', supplier.id)}}" class="govuk-button govuk-button--secondary">Edit</a>
  <a href="{{url('change-supplier-disabled-status', supplier.id)}}" class="govuk-button govuk-button--secondary">{{supplier.is_disabled and "Enable" or "Disable"}}</a>
</div>
<a class="govuk-button" href="{{url('supplier-team-leads-add', supplier.id)}}">Add a new team lead</a>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">List of team leads</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Names</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for user in users %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{user.full_name}}</th>
      <td class="govuk-table__cell">{{user.email}}</td>
      <td class="govuk-table__cell">
        {% if not user.is_active %}
        <strong class="govuk-tag govuk-tag--red">
          Disabled
        </strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--green">
          Enabled
        </strong>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <div class="govuk-button-group govuk-!-display-block">
          <a href="{{url('supplier-team-leads-edit', supplier.id, user.id)}}" class="govuk-link">Edit<span class="govuk-visually-hidden"> team lead details</span></a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}