{% extends "base_generic_gov.html" %}
{%- from 'govuk_frontend_jinja/components/breadcrumbs/macro.html' import govukBreadcrumbs -%}

{% block content %}

  {{ govukBreadcrumbs({
    'items': [
      {
        'text': "Home",
        'href': "#"
      },
      {
        'text': "Dashboard",
        'href': "#"
      },
    ]
    }) }}

  <h1 class="govuk-heading-l">Logged in as: {{request.user.email}} for {{request.user.supplier}}</h1>

  <p class="govuk-body">Welcome to the portal</p>

{% endblock %}
