{% extends "base_generic_gov.html" %}
{% from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}

{% macro dashboard() -%}
  <h1 class="govuk-heading-l">Logged in as: {{request.user.email}} for {{request.user.supplier.name}}</h1>

  <p class="govuk-body">You have {{request.user.referral_count}} new referrals</p>
{%- endmacro%}

{% macro download() -%}
  <a class="govuk-button" data-module="govuk-button" href="">
    Download latest referrals
  </button>
{%- endmacro%}

{% block content %}

  {{ govukTabs({
    'items': [
      {
        'label': "Dashboard",
        'id': "dashboard-tab",
        'panel': {
          'html': dashboard()
        }
      },
      {
        'label': "Download",
        'id': "download-tab",
        'panel': {
          'html': download()
        }
      },
    ]
    }) }}

{% endblock %}
