{% macro form_wrapper(prev_url) -%}
  <a href="{{prev_url}}" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{csrf_input}}

        {{caller()}}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{%- endmacro%}

{% macro radios(id, name, options, data) -%}
  <div class="govuk-radios" data-module="govuk-radios">
    {% for option in options %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="id-{{slugify(option)}}" name="{{name}}" type="radio" value="{{option}}" {{is_checked(data, name, option)}}>
        <label class="govuk-label govuk-radios__label" for="id-{{slugify(option)}}">
          {{option}}
        </label>
      </div>
    {% endfor %}
  </div>
{%- endmacro%}
