<h1 class="govuk-heading-l">Add, view and manage energy suppliers</h1>
<p>Add, view and manage energy suppliers who can access and download customer leads.</p>
<a class="govuk-button" href="{{url('portal:add-supplier')}}">Add a new energy supplier</a>

<table class="govuk-table">

</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Energy supplier</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Number of team leads</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for supplier in data.suppliers %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{supplier.name}}</th>
      <td class="govuk-table__cell">
        {% if supplier.is_disabled %}
        <strong class="govuk-tag govuk-tag--red">
          Disabled
        </strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--green">
          Enabled
        </strong>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{supplier.get_team_leader_count()}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <div class="govuk-button-group govuk-!-display-block">
          <a href="{{url('portal:supplier-team-leads', supplier.id)}}" class="govuk-link">View<span class="govuk-visually-hidden"> energy supplier details</span></a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
