{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{csrf_input}}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is your loft fully insulated?
            </h1>
          </legend>
          <p class="govuk-body">A loft is fully insulated if it has more than 200mm (eight inches) of insulation
            covering the whole loft, usually laid
            on the "floor" of the loft with one layer between the horizontal timbers and another layer going across them
            to bring
            the insulation up to the required level.</p>



          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help me answer this question
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">If your home was built after 2002, or you have installed loft insulation since 2002,
                it is likely that it is fully
                insulated.</p>
            </div>
          </details>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="loft" name="loft" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="loft">
                Yes, there is at least 200mm of insulation in my loft
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="loft-2" name="loft" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="loft-2">
                No, there is less than 200mm of insulation in my loft
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="loft-2" name="loft" type="radio" value="unknown">
              <label class="govuk-label govuk-radios__label" for="loft-2">
                I don't know
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}