{% extends "frontdoor/base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your details have been submitted to Octopus Energy
      </h1>
      <div class="govuk-panel__body">
        Reference code<br><strong>X546RGJ</strong>
      </div>
    </div>
    <p class="govuk-body">We have sent you a confirmation email.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      Octopus Energy will process your details and contact you by email within 10 working days. If Octopus Energy has
      not
      reached out by then, you can contact them directly:
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">eco4@octopusenergy.co.uk</a>
    </p>

    <p class="govuk-body">
      Please do not create another referral on the system as this may affect the service you get. You can contact the
      supplier
      directly if you have any questions.
    </p>

    <p class="govuk-body">
      For now, you can visit <a href="#" class="govuk-link">www.octupus.energy</a> to find other ways to
      improve energy efficiency at home.
    </p>

    <h2 class="govuk-heading-m">More help</h2>

    <p class="govuk-body">
      If you want to make more immediate changes to how you could save energy in your home
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>visit <a href="#" class="govuk-link">Find ways to save energy in your home</a> to discover how you can keep
        your home warm.</li>
      <li>visit the <a href="#" class="govuk-link">Energy Savings Trust</a>, <a href="#" class="govuk-link">Ofgem</a> or
        <a href="#" class="govuk-link">Citizen’s Advice</a> for energy-saving tips
      </li>
      <li>contact your energy supplier for useful information</li>
    </ul>
  </div>
</div>
</div>

{% endblock %}