{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{csrf_input}}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select your address
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address" name="address" type="radio" value="A">
              <label class="govuk-label govuk-radios__label" for="address">
                A, 1 Street, Town, Postcode
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="address-2" name="address" type="B" value="tenant">
              <label class="govuk-label govuk-radios__label" for="address-2">
                B, 2 Street, Town, Postcode
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}