{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Add your personal and contact details
          </h1>
        </legend>

        {{macros.input('first-name', 'first_name', 'First name', data, errors)}}
        {{macros.input('last-name', 'last_name', 'Last name', data, errors)}}
        {{macros.input('contact-number', 'contact_number', 'Contact number', data, errors)}}
        {{macros.input('email', 'email', 'Email', data, errors)}}

      </fieldset>
  {%- endcall %}
{% endblock %}
