{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is the council tax band of your property?
          </h1>
        </legend>

        <div id="hint" class="govuk-hint">
          <p class="govuk-hint">Select your council tax band from the list below</p>
          <a href="https://www.gov.uk/council-tax-bands" class="govuk-link">
            If you're unsure, you can check your property's council tax band
          </a>.
        </div>

          {{macros.radios('council-tax-band', 'council_tax_band', council_tax_band_options, data, errors)}}

        </div>
      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}