{% extends "frontdoor/base.html" %}

{% block content %}
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{csrf_input}}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which country is your property located in?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              {% for country_option in country_options %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="country-{{slugify(country_option)}}" name="country" type="radio"
                    value="{{country_option}}">
                  <label class="govuk-label govuk-radios__label" for="country">
                    {{country_option}}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
