{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
{% call macros.form_wrapper(prev_url) -%}
    <span class="govuk-caption-l">Find your EPC</span>
    <h1 class="govuk-heading-l">We found an Energy Performance Certificate that might be yours</h1>

    <p class="govuk-body">This certificate may be registered to your property or one of the properties nearby that
      shares part of your address.</p>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Certificate
        </h2>
      </div>
      <div class="govuk-notification-banner__content">

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Registered address</p>
        {% for part in address.split(',') %}
        <p class="govuk-body govuk-!-margin-bottom-1">{{ part.strip() }}</p>
        {% endfor %}

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">EPC rating</p>
        <p class="govuk-body">{{epc_rating.rating}}</p>
      </div>
    </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Is this your EPC?
            </h1>
          </legend>
          <input type="hidden" name="epc_rating" value="{{epc_rating}}"/>
          {{macros.radios('accept_suggested_epc', epc_found_options, data, errors)}}
        </fieldset>
  </div>
{% endcall %}
{% endblock %}
