{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <span class="govuk-caption-l">Find your EPC</span>
    <h1 class="govuk-heading-l">We did not find a complete Energy Performance Certificate for your property</h1>

    <p class="govuk-body">This could be because:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>there isn't an EPC for your property</li>
      <li>your property is a new build</li>
      <li>your address is saved in a different format</li>
    </ul>

    <p class="govuk-body">You can continue without an Energy Performance Certificate, We will need to ask you some questions to work out which home improvement schemes your property is eligible for. There will be quidance to support you along the way</p>
  {% endcall %}
{% endblock %}
