{% extends "frontdoor/base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Get home energy improvements</h1>
    <p class="govuk-body">Use this service to see if you qualify for installing energy-saving measures to your home
      through the Government’s Energy Company Obligation (ECO4) or Great British Insulation Scheme (GBIS).</p>
    <div class="govuk-inset-text">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Find out more about the Energy Company Obligation.</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Find out more about the Great British Insulation Scheme.</a>
        </li>
      </ul>
    </div>
    <h2 class="govuk-heading-m">Use this service to:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>check if your household and property may be able to qualify for ECO4 or the GBIS</li>
      <li>create a referral to an energy supplier</li>
    </ul>

    <h2 class="govuk-heading-m">Who can use this service</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>homeowners</li>
      <li>tenants who rent from a private landlord or estate agent</li>
      <li>tenants who live in social housing</li>
    </ul>
    <p class="govuk-body">Tenants will need permissions from their landlords to use this service.</p>

    <h2 class="govuk-heading-m">Energy-saving measures you could qualify for includes</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>cavity or solid wall insulation</li>
      <li>external wall insulation</li>
      <li>loft insulation</li>
      <li>flat or pitched roof insulation</li>
      <li>park home insulation</li>
    </ul>

    <h2 class="govuk-heading-m">What happens once you create a referral:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>The energy supplier will contact you within 10 working days</li>
      <li>They will assess the property and determine the most energy-efficient measures that you qualify for</li>
      <li>They will install the agreed measures at a lower cost to you</li>
    </ul>

    <h2 class="govuk-heading-m">Before you start:
    </h2>

    <p class="govuk-body">You will be asked for information about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your household income</li>
      <li>any benefits you, or anyone in your household receives</li>
      <li>the council tax band of the property</li>
      <li>details of the walls and insulation in the property</li>
    </ul>

    <p class="govuk-body">If you are unsure about your EPC rating or council tax band, this service can help you find
      that
      information.</p>
    <p class="govuk-body">You will be asked to give permission to pass your details onto a supplier that you choose
      before
      you are referred. If you do not want to supply your information or go forward with the application, you can close
      the
      tool at any time before confirming and submitting.</p>

    <ul class="govuk-list">
      <li>Telephone: 0800 098 7950</li>
      <li>Monday to Friday, 8am to 6pm (except bank holidays)</li>
      <li>Saturday, 9am to 12pm</li>
    </ul>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Find out about call charges</a>
    </p>

    <a href="{{next_url}}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

  </div>
</div>

{% endblock %}
