{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is your annual household income?
          </h1>
        </legend>

        <p class="govuk-body">
          Your annual household income is the total income before paying tax for all adults living in your home.
        </p>

        {{macros.radios('household-income', 'household_income', household_income_options, data)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
