{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>You are ineligible for support - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
  {% call macros.further_help() -%}

    <h1 class="govuk-heading-l">Your property is not eligible</h1>

    <p class="govuk-body">This is likely because your property's council tax band is too high. This service is for properties in an eligible council tax band (A to D in England and A to E in Scotland and Wales).</p>

  {%- endcall %}
{% endblock %}
