{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  <a href="{{prev_url}}" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{csrf_input}}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have a loft that hasn't been converted into a room?
              </h1>
            </legend>
          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help me decide if I have a loft
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              A loft is an unheated space without walls and ceilings, immediately beneath the pitched roof. You will usually be able to see the roof timbers.
            </p>
            <p class="govuk-body">
              If all the space under your pitched roof, or nearly all the space, is used as living space with finished walls and ceilings then the loft has been converted into a room.
            </p>
          </div>
        </details>

            {{macros.radios('loft', loft_options, data, errors)}}

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
