{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
{% call macros.form_wrapper(prev_url) -%}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How many bedrooms does the property have?
      </h1>
    </legend>

    <p class="govuk-body">Select the total number of bedrooms the property has. Include all bedrooms even if you use
      them for something else, like a home office.</p>

    {{macros.radios('number_of_bedrooms', number_of_bedrooms_options, data, errors)}}

  </fieldset>
</div>
{%- endcall %}
{% endblock %}