{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you own your property?
          </h1>
        </legend>

        {{macros.radios('own_property', own_property_options, data, errors)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
