{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>Schemes you are eligible for - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
  <a href="{{prev_url}}" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if eligible_schemes %}

        <form method="POST" novalidate>
          {{csrf_input}}
          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">Information based on your answers</h1>
            <p class="govuk-body">Based on your answers you can register for help through:</p>
          </div>

          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header"></div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">

                <h2 class="govuk-heading-m">{{eligible_schemes|join(", ")}}</h2>
                <p class="govuk-body">You can create a referral to your home energy supplier, which will get in touch to arrange an assessment of your home. This will identify which insulation measures would be most suitable, to help you to keep your home warm and save you money on your energy bills. They will also advise where any additional help with the energy efficiency of your home is available.</p>
                <p class="govuk-body">Depending on the outcome of the assessment, you may be asked to make a financial contribution for an installation to go ahead. It would then be your decision whether you wish to proceed.</p>
              </p>
            </div>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Create a referral
          </button>
        </form>

      {% else %}

        <h1>You are not eligible</h1>

        <p>[insert content here]</p>

      {% endif %}

    </div>
  </div>

{% endblock %}
