{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">As your property is in Scotland, you must use a different service</h1>
    <p class="govuk-body">Unfortunately, this service is not available to homes in Scotland.</p>
    <p class="govuk-body">You can find support with effective ways to reduce your energy bills by visiting the <a
        href="https://www.homeenergyscotland.org/funding/">Warmer
        Homes Scotland Programme.</a></p>
  </div>
</div>

{% endblock %}