{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The scheme does not apply to homes in Northern Ireland</h1>
    <p class="govuk-body">The Energy Company Obligation and Great British Insulation schemes are only available to homes
      in England, Wales, and Scotland.</p>
    <p class="govuk-body">For advice on energy support measures in Northern Ireland <a
        href="https://www.nidirect.gov.uk/information-and-services/environment-and-outdoors/energy-advice">visit the NI
        Direct government services website</a>
    </p>
  </div>
</div>

{% endblock %}