{% extends "frontdoor/base.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your details have been submitted to {{supplier}}
        </h1>
      </div>
      <p class="govuk-body">If you provided an email address in your referral then we have sent you a confirmation email.</p>
      <p class="govuk-body">You can <a href="#" class="govuk-link">save or print a copy of your referral</a>.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>

      
      <p class="govuk-body">We have sent your referral to the energy supplier you selected. They will contact you within 10 working days to confirm they have received your referral or to ask you for more information.</p>

      <p class="govuk-body">Please do not create another referral on the system as this may affect the service you get.<br>
        You can contact {{supplier}} directly if you have any questions.</p>
      
      <p class="govuk-body">Once the energy supplier has confirmed they have received your referral, they will review your referral and determine whether your property is applicable for home improvements. They may ask you for more information. You will be notified of the outcome of the review process.</p>
      
      <p class="govuk-body">Properties that are applicable for home improvements must have a home survey completed. Your energy supplier will organise this with you.</p>

      <h2 class="govuk-heading-m">Contacting the energy supplier about your referral after 10 working days</h2>

      <p class="govuk-body">You can <a href="#" class="govuk-link">find contact details for the energy supplier (opens in new tab)</a> if you need to contact them.</p>

      <p class="govuk-body">You do not need to contact the energy supplier unless it has been more than 10 working days since you submitted the referral and you have not yet received a confirmation email from them.</p>

      <h2 class="govuk-heading-m">Access more household energy support</h2>
      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>access <a href="#" class="govuk-link">help with your energy bills from the Help for Households service (opens in a new tab)</a></li>
        <li>access <a href="#" class="govuk-link">household energy-saving tips from the Energy Savings Trust (opens in a new tab)</a></li>
        <li>access <a href="#" class="govuk-link">household'energy-saving tips from Citizen's Advice (opens in a new tab)</a></li>
      </ul>

    </div>
  </div>
  </div>

{% endblock %}
