{% extends "frontdoor/base.html" %}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST">
      {{csrf_input}}
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          {% for summary_line in summary_lines %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{summary_line.question}}
              </dt>
              <dd class="govuk-summary-list__value">
                {{summary_line.answer}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{summary_line.change_url}}">
                  Change<span class="govuk-visually-hidden"> {{summary_line.question}}</span>
                </a>
              </dd>
            </div>

          {% endfor %}

        </dl>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
