{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url, button_label="Submit") -%}
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% for summary_line in summary_lines %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{summary_line.question}}
            </dt>
            <dd class="govuk-summary-list__value">
              {{summary_line.answer}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{summary_line.change_url}}">
                Change<span class="govuk-visually-hidden"> {{summary_line.question}}</span>
              </a>
            </dd>
          </div>

        {% endfor %}

      </dl>
    </div>
  {%- endcall %}
{% endblock %}
