{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros %}

{% block content %}
  <a href="{{prev_url}}" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        {{csrf_input}}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select your home energy supplier from the list below.
              </h1>
            </legend>

            <p class="govuk-body">If your home energy supplier is not listed, you can select any energy from the list.</p>

            {{macros.radios('supplier', 'supplier', supplier_options, data)}}

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
