{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are your walls insulated?
          </h1>
        </legend>
        <p class="govuk-body">
          Cavity walls built before 1991 are typically uninsulated, unless you or someone before you had insulation installed.
        </p>

        <p class="govuk-body">
          Cavity walls built after 1991 were typically built with insulating material between the outer and inner walls.
        </p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help me answer this question
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Homes built after 1991 were typically built with insulating material between the
              outer and inner walls.</p>
            <p class="govuk-body">
              If your home was converted, for example it was a shop or other commercial premises before, it may have been built without insulation.
            </p>
          </div>
        </details>

        {{macros.radios('wall-insulation', 'wall_insulation', wall_insulation_options, data, errors)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
