{% extends "frontdoor/base.html" %}

{% block title %}
  <title>View accessibility statement - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility Statement</h1>
    <p class="govuk-body">This site is being developed to be accessible. It is currently undergoing accessibility testing. Once complete a
    detailed accessibility statement will be made available.</p>
  </div>
</div>

{% endblock %}