{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>Do you own your own property? - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you own the property?
          </h1>
        </legend>

        {{macros.radios('own_property', own_property_options_map, data, errors)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
