{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>A summary of your answers - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

{% block content %}
  {% call macros.form_wrapper(prev_url, button_label="Submit") -%}
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">Check your answers</h1>
      {{macros.details_summary(summary_lines)}}
    </div>
  {%- endcall %}
{% endblock %}
