{% extends "portal/base_generic_gov.html" %}

{% block content %}
<a href="{{url('portal:user-details', supplier_id, user.id)}}" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Do you want to {{user.is_active and "disable" or "enable"}} {{user.full_name}}?</h1>
<form method="POST" novalidate>
  <fieldset class="govuk-fieldset">
    {% if not user.is_active %}
    <p>By enabling a user, they will be able to access customer leads.</p>
    {% else %}
    <p>By disabling a user, they will no longer be able to access customer leads.</p>
    {% endif %}
    {{csrf_input}}
    <div class="govuk-button-group">
      <button class="govuk-button {{user.is_active and "govuk-button--warning"}}" data-module="govuk-button" type="submit">{{user.is_active and "Disable" or "Enable"}} user</button>
      <a class="govuk-link" href="{{url('portal:user-details', supplier_id, user.id)}}">Cancel</a>
    </div>
  </fieldset>
</form>
{% endblock %}
