{% extends "account/base.html" %}

{% block head_title %}Two Factor Authentication{% endblock %}

{% block content %}

  <section class="wrapper">

    <form class="login" method="POST">
      {% csrf_token %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Please setup Two Factor Authentication (2FA)
            </h1>
          </legend>

          <h2 class="govuk-heading-m">Download your authenticator app</h2>

          <p class="govuk-body">You can download an authenticator app on any smart device, such as a smart phone or tablet. Examples of authenticator apps are the Google Authenticator and Microsoft Authenticator.</p>

          <h2 class="govuk-heading-m">Scan the QR code</h2>

          {{qr_code}}

          <h2 class="govuk-heading-m">Enter the One Time Password</h2>

          <p class="govuk-body">Your authenticator app should now give you a one time code.  Enter it below.</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="id_otp">
              Enter your OTP
            </label>
            <input class="govuk-input" id="id_otp" name="otp" required autocomplete="off">
          </div>

          <input id="id_secret" name="totp_secret" type="hidden" value="{{totp_secret}}">

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        {{button_label}}
      </button>
    </form>
  </section>

{% endblock %}
