django-allauth
django-cors-headers
django-environ
django-gov-notify
django<3.3
djangorestframework
django_use_email_as_username
faker
furl
govuk-frontend-jinja
httpx
jinja2
psycopg2-binary
pyyaml
waitress
watchdog[watchmedo]
whitenoise
marshmallow
