<h1 class="govuk-heading-l">Archive</h1>
<p>Download older versions of your customer leads in CSV format. You may want to do this if you believe you are missing customer leads.</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">File</th>
      <th scope="col" class="govuk-table__header">Date and time of download</th>
      <th scope="col" class="govuk-table__header">Last downloaded by</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for archive in data.archives %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="{{url('download-csv-by-id', archive.id)}}" class="govuk-link">{{archive.file_name}}</a></td>
      <td class="govuk-table__cell">
        <span>{{archive.created_at.strftime('%H:%M')}}</span><br>
        <span>{{archive.created_at.strftime('%d/%m/%Y')}}</span>
      </td>
      <td class="govuk-table__cell">{{archive.last_downloaded_by.full_name}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>