<h1 class="govuk-heading-l">Manage team members</h1>
<p>Manage the members of your team who have access to the portal.</p>
<a class="govuk-button" href="{{url('add-user-role-select', data.supplier.id)}}">Add a new team member or leader</a>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Role</th>
      <th scope="col" class="govuk-table__header">Date added</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for team_member in data.team_members %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{team_member.full_name}}</th>
      <td class="govuk-table__cell">{% if team_member.is_team_leader %}Team leader{% elif team_member.is_team_member %}Team member{% endif %}</td>
      <td class="govuk-table__cell">{{team_member.date_joined.strftime('%d/%m/%Y')}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="{{url('user-details', data.supplier.id, team_member.id)}}" class="govuk-button govuk-button--secondary">View</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>